body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

.header-container {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.banner-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.logo img {
    width: 100px;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.navigation li a {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navigation li a:hover {
    background-color: #f8f9fa;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #0056b3;
}

.container {
    padding: 20px;
    max-width: 960px;
    margin: auto;
}

.chart-container {
    width: 100%;
    margin-top: 20px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.datetime-inputs {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datetime-inputs label {
    margin-right: 10px;
}

.datetime-inputs input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#fetchDataBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#fetchDataBtn:hover {
    background-color: #45a049;
}
